# notebook temp files
*.pyc
diagnostics/ecmean/ECmean4
.ipynb_checkpoints/
#packages temp files
*egg-info
# cli branch temp files
cli/*.txt
cli/*.err
cli/*.out
docs/sphinx/build/*
*.nc
AQUA_tests/
AQUA_tests.tar.gz
**/*.bak
*.err
*.out
.coverage
coverage.xml
coverage/
*.err
*.out

