# template for configuration file for `aqua grids build` tool

reader:
  catalog: "ci"
  model: "ERA5"
  exp: "era5-hpz3"
  source: "monthly"

builder:
  loglevel: "INFO"
  outdir: "."
  fix: false
  #original: "1.0x1.0"
  #modelname: "ECMWF"
  rebuild: false
  #version: 1
  verify: true