# Template according to #1613
# Configuration dedicated to the Sea Ice timeseries diagnostic.

# =======  Dataset Configuration  =======
datasets:
  - catalog: null              # mandatory as null
    model: 'IFS-NEMO'          # mandatory
    exp: 'historical-1990'     # mandatory
    source: 'lra-r100-monthly' # mandatory
    regrid: null               # if the diagnostic supports it
    reader_kwargs: null        # it can be a dictionary with reader kwargs
    startdate: null            # e.g. '1990-01-01'
    enddate: null              # e.g. '2000-12-31'

# =======  Reference Datasets  =======
references:
  # Concentration/Extent references (OSI-SAF)
  concentration:
    nh: &ref_conc_nh
      catalog: 'obs'             # mandatory
      model: 'OSI-SAF'           # mandatory
      exp: 'osi-saf-aqua'        # mandatory
      source: 'nh-monthly'       # mandatory
      regrid: 'r100'
      domain: "nh"
      varname: "siconc"
    
    sh: &ref_conc_sh
      catalog: 'obs'             # mandatory
      model: 'OSI-SAF'           # mandatory
      exp: 'osi-saf-aqua'        # mandatory
      source: 'sh-monthly'       # mandatory
      regrid: 'r100'
      domain: "sh"
      varname: "siconc"

  # Volume/Thickness references (PSC)
  volume:
    nh: &ref_vol_nh
      catalog: 'obs'
      model: 'PSC'
      exp: 'PIOMAS'
      source: 'monthly'
      regrid: 'r100'
      domain: "nh"
      varname: "sithick"
    
    sh: &ref_vol_sh
      catalog: 'obs'
      model: 'PSC'
      exp: 'GIOMAS'
      source: 'monthly'
      regrid: 'r100'
      domain: "sh"
      varname: "sithick"

# =======  Setup Configuration  =======
setup:
  loglevel: 'WARNING'

# =======  Output Configuration  =======
output:
  outputdir: "./" # mandatory
  rebuild: true
  save_netcdf: true # mandatory
  save_pdf: true    # mandatory
  save_png: true    # mandatory
  dpi: 300
  create_catalog_entry: false

# =======  Config for timeseries Sea Ice  =======
# ===============================================
diagnostics:
  seaice_timeseries:
    run: true
    methods: ["extent", "volume"]
    regions: ['arctic','antarctic']
    startdate: '1991-01-01'
    enddate: '2024-01-01'
    calc_ref_std: true
    ref_std_freq: 'monthly' # set to 'monthly' 'annual'
    varname:
      extent: 'siconc'
      volume: 'sithick'
    # ====  Reference entries for extent (concentration)  ====
    references_extent:
      - <<: *ref_conc_nh
      - <<: *ref_conc_sh
  
    # ====  Reference entries for volume (thickness)  ====
    references_volume:
      - <<: *ref_vol_nh
      - <<: *ref_vol_sh

